@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
}

/* Premium Styles */
body {
  background-color: var(--color-gray-50);
  font-family: 'Inter', sans-serif;
}
